node_modules
.env
build
.log
.logs
docs
.pnp
.pnp.js

coverage
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
package-debug.log*
package-error.log*
.eslintcache

